spring:
  application:
    name: backend-api
  datasource:
    url: jdbc:postgresql://localhost:5433/household_budget
    username: budget_user
    password: budget_password
management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    shutdown:
      access: unrestricted
  metrics:
    enable:
      jvm: true
      process: true
      system: true
      http: true
      logback: true