spring:
  application:
    name: backend-api
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:7543/backend_api_db
    username: api_user
    password: api_password
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
management:
  server:
    port: 8081
    address: 0.0.0.0
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus,env,beans,mappings,configprops,loggers
      base-path: /actuator
      path-mapping:
        health: healthcheck
  endpoint:
    env:
      show-values: always
    health:
      probes:
        enabled: true
        add-additional-paths: true
      show-details: when_authorized
    shutdown:
      access: unrestricted
  metrics:
    enable:
      jvm: true
      process: true
      system: true
      http: true
      logback: true