spring:
  application:
    name: backend-api
  datasource:
    url: jdbc:postgresql://localhost:7543/backend_api_db
    username: api_user
    password: api_password
management:
  server:
    port: 8081
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: health, info, metrics
      base-path: /actuator
  endpoint:
    health:
      probes:
        enabled: true
        add-additional-paths: true
      show-details: when_authorized
    shutdown:
      access: unrestricted
  metrics:
    enable:
      jvm: true
      process: true
      system: true
      http: true
      logback: true